<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lourenci.github-alfred</string>
	<key>connections</key>
	<dict>
		<key>271775A2-2D4B-445A-BED3-B3D8E632F8D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5ED44AA0-3921-4A16-915D-7CF0646139B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>15D3B95C-12F7-4449-845C-0C1D16B03A91</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BF5A2A6F-CB8B-4CBD-8B3A-E8397D84BB89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A6FF4F5-9BE0-4232-88DB-A8FC819F9D9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF5A2A6F-CB8B-4CBD-8B3A-E8397D84BB89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>436F2CFF-0BE1-4380-B95D-79607D0B83E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1267C75E-61E2-4957-8BF8-A837EF6E6968</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5ED44AA0-3921-4A16-915D-7CF0646139B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A6FF4F5-9BE0-4232-88DB-A8FC819F9D9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>626049A8-6F5D-4048-B369-979A2FF17525</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97E783F2-6E0B-4232-94ED-0A4839506C31</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F89437FE-C9E0-49A9-9B55-F2B1EF0AFC05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94B0F877-16CB-4135-83DC-B22570C6B6F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFEBD281-CE80-49A8-9B2C-BA47FF986CAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97E783F2-6E0B-4232-94ED-0A4839506C31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94B0F877-16CB-4135-83DC-B22570C6B6F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFEBD281-CE80-49A8-9B2C-BA47FF986CAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>271775A2-2D4B-445A-BED3-B3D8E632F8D2</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BF5A2A6F-CB8B-4CBD-8B3A-E8397D84BB89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F89437FE-C9E0-49A9-9B55-F2B1EF0AFC05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF5A2A6F-CB8B-4CBD-8B3A-E8397D84BB89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>436F2CFF-0BE1-4380-B95D-79607D0B83E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>81891786-DB79-4AFB-B52A-82B34D19E5D7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Leandro Lourenci</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./github-alfred "$token" pulls "$repo_name" "$username"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Getting the open pulls from GitHub...</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3A6FF4F5-9BE0-4232-88DB-A8FC819F9D9F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5ED44AA0-3921-4A16-915D-7CF0646139B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\/pulls$</string>
						<key>outputlabel</key>
						<string>list pulls</string>
						<key>uid</key>
						<string>15D3B95C-12F7-4449-845C-0C1D16B03A91</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>271775A2-2D4B-445A-BED3-B3D8E632F8D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Commits","arg":"{var:repo_url}\/commits","subtitle":"See commits page"},{"title":"PRs","arg":"{var:repo_url}\/pulls","subtitle":"See pulls page (⌥: open pulls)"},{"title":"Issues","arg":"{var:repo_url}\/issues","subtitle":"See issues page"}]</string>
				<key>matchmode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>AFEBD281-CE80-49A8-9B2C-BA47FF986CAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>97E783F2-6E0B-4232-94ED-0A4839506C31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo_name</key>
					<string>{var:split2}</string>
					<key>repo_url</key>
					<string>{var:split1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>94B0F877-16CB-4135-83DC-B22570C6B6F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword_trigger}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>if [ ! -f "./github-alfred" ]; then
    # Output Alfred JSON to prompt user to compile
 cat &lt;&lt; 'EOF'
{
  "items": [
    {
      "arg": "compile-script",
      "title": "Compile the binary first",
      "subtitle": "Press ↩ to compile. You will be notified when it’s done."
    }
  ]
}
EOF
else
  ./github-alfred "$token" repos "$cacheTimeInMinutes"
fi

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Getting repositories from GitHub...</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>626049A8-6F5D-4048-B369-979A2FF17525</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>compile-script</string>
						<key>outputlabel</key>
						<string>compile</string>
						<key>uid</key>
						<string>81891786-DB79-4AFB-B52A-82B34D19E5D7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F89437FE-C9E0-49A9-9B55-F2B1EF0AFC05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BF5A2A6F-CB8B-4CBD-8B3A-E8397D84BB89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>go build .</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>436F2CFF-0BE1-4380-B95D-79607D0B83E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>You can now use the Github workflow!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1267C75E-61E2-4957-8BF8-A837EF6E6968</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1267C75E-61E2-4957-8BF8-A837EF6E6968</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>271775A2-2D4B-445A-BED3-B3D8E632F8D2</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>3A6FF4F5-9BE0-4232-88DB-A8FC819F9D9F</key>
		<dict>
			<key>xpos</key>
			<real>1340</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>436F2CFF-0BE1-4380-B95D-79607D0B83E6</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>5ED44AA0-3921-4A16-915D-7CF0646139B7</key>
		<dict>
			<key>xpos</key>
			<real>1195</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>626049A8-6F5D-4048-B369-979A2FF17525</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>94B0F877-16CB-4135-83DC-B22570C6B6F9</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>97E783F2-6E0B-4232-94ED-0A4839506C31</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>AFEBD281-CE80-49A8-9B2C-BA47FF986CAF</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>BF5A2A6F-CB8B-4CBD-8B3A-E8397D84BB89</key>
		<dict>
			<key>xpos</key>
			<real>1590</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>F89437FE-C9E0-49A9-9B55-F2B1EF0AFC05</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>GitHub token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>token</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Github username</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>username</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>10080</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Avoid hitting GitHub everytime</string>
			<key>label</key>
			<string>Cache (minutes)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>cacheTimeInMinutes</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to trigger the workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_trigger</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
